<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>artistId</key>
	<integer>523330958</integer>
	<key>artistName</key>
	<string>TinyApp</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>714247</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>1.0.10</string>
	<key>bundleVersion</key>
	<string>1.0.10</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143466-13,16</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>2013timh@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1650129443</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>-7040796824734853821.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"a56f3d6d1914d78ca537bc537b6415ee:1350344433"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>-7691775435885119578..app</string>
		<key>purchaseDate</key>
		<string>2012-12-27T04:37:48Z</string>
	</dict>
	<key>copyright</key>
	<string>TinyApp</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>금융</string>
	<key>genreId</key>
	<integer>6015</integer>
	<key>itemId</key>
	<integer>523330955</integer>
	<key>itemName</key>
	<string>가계부</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>TinyApp</string>
	<key>playlistName</key>
	<string>가계부</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-05-10T02:10:57Z</string>
	<key>s</key>
	<integer>143466</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a61.phobos.apple.com/us/r1000/120/Purple/v4/6a/35/ab/6a35ab0e-57cd-fcc2-53ec-0903f0f18e23/icon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>kr.dinga.HousekeepingLog</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>11168852</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>7771665</integer>
		<integer>7958688</integer>
		<integer>8150635</integer>
		<integer>8785662</integer>
		<integer>9077437</integer>
		<integer>9951431</integer>
		<integer>10060036</integer>
		<integer>10345216</integer>
		<integer>10618515</integer>
		<integer>11168852</integer>
	</array>
	<key>vendorId</key>
	<integer>1033783</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
