<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>artistId</key>
	<integer>468653359</integer>
	<key>artistName</key>
	<string>FantaWare</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>2361706</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>1.1</string>
	<key>bundleVersion</key>
	<string>1.1</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143466-13,16</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>2013timh@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1650129443</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>-1998362785285718403.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"786fd9fa822e45eb49b1bcb3858912cc:1347317599"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>-4015167007221617351..app</string>
		<key>purchaseDate</key>
		<string>2012-12-27T04:42:10Z</string>
	</dict>
	<key>copyright</key>
	<string>FantaWare All Right Reserved.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>사진 및 비디오</string>
	<key>genreId</key>
	<integer>6008</integer>
	<key>itemId</key>
	<integer>543895378</integer>
	<key>itemName</key>
	<string>D-DAY ALBUM Lite - Event Photo Album Manager</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>FantaWare</string>
	<key>playlistName</key>
	<string>D-DAY ALBUM Lite - Event Photo Album Manager</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-07-24T21:41:11Z</string>
	<key>s</key>
	<integer>143466</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a539.phobos.apple.com/us/r1000/113/Purple/v4/9b/25/72/9b2572fb-017d-a535-d850-df54f09ecaff/icon_57.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.fantaware.dayalbumlite</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>10489437</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>9367481</integer>
		<integer>10489437</integer>
	</array>
	<key>vendorId</key>
	<integer>532203</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
