<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>artistId</key>
	<integer>284417353</integer>
	<key>artistName</key>
	<string>Apple</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>9165674</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>1.1.2</string>
	<key>bundleVersion</key>
	<string>209</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143466-13,16</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>2013timh@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1650129443</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>-6174974967609755881.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"1fa0490564e1b1e88c5f89318a774129:1351877767"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>5639533563203734856..app</string>
		<key>purchaseDate</key>
		<string>2012-12-27T04:31:26Z</string>
	</dict>
	<key>copyright</key>
	<string>2012 Apple Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>엔터테인먼트</string>
	<key>genreId</key>
	<integer>6016</integer>
	<key>itemId</key>
	<integer>525463029</integer>
	<key>itemName</key>
	<string>Podcasts</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Apple</string>
	<key>playlistName</key>
	<string>Podcasts</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-06-26T17:40:41Z</string>
	<key>s</key>
	<integer>143466</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1351.phobos.apple.com/us/r1000/120/Purple/v4/8e/19/3d/8e193d91-58f1-ba68-aead-af1459ef72ad/Icon-iPhone.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>4</integer>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.apple.podcasts</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>11628825</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>7899238</integer>
		<integer>9555651</integer>
		<integer>9962643</integer>
		<integer>10580472</integer>
		<integer>10951675</integer>
		<integer>11628825</integer>
	</array>
	<key>vendorId</key>
	<integer>2003</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
