<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>CNN 20</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>CNN</key>
		<dict>
			<key>Article</key>
			<data>
			PMMgOTtxizLZsm0gMGJDQeufGZ+wMG06PhcTwlg94rM=
			</data>
		</dict>
		<key>CNN 10</key>
		<dict>
			<key>Article</key>
			<data>
			58A0N1JZ70Q6OKsWWLPPxO+o+uFhquHA9nL0+GjoWRs=
			</data>
			<key>IReport</key>
			<data>
			0IFMoxsukXaQMkgQrHiuBtupb6NPpZiP149Q9mZesTE=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			qCv4Rc+sOFg9PQkUG5jE7qEN5oRNKWLsVBrAvwfnVIQ=
			</data>
		</dict>
		<key>CNN 11</key>
		<dict>
			<key>Article</key>
			<data>
			58A0N1JZ70Q6OKsWWLPPxO+o+uFhquHA9nL0+GjoWRs=
			</data>
			<key>IReport</key>
			<data>
			Orl5JPNVdsYqzD91PWFyAVVvGINy7oYZtjYdFvdcSBk=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			qCv4Rc+sOFg9PQkUG5jE7qEN5oRNKWLsVBrAvwfnVIQ=
			</data>
		</dict>
		<key>CNN 12</key>
		<dict>
			<key>Article</key>
			<data>
			Vaux07wwIyl7/4mONbv6MnOx92/zbxUJ/rfHaiDUZcQ=
			</data>
			<key>IReport</key>
			<data>
			Orl5JPNVdsYqzD91PWFyAVVvGINy7oYZtjYdFvdcSBk=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			qCv4Rc+sOFg9PQkUG5jE7qEN5oRNKWLsVBrAvwfnVIQ=
			</data>
		</dict>
		<key>CNN 13</key>
		<dict>
			<key>Article</key>
			<data>
			9PHzkKpiz0+eYCgugnACLF0fW+ScwcUb+cT+YvSSP8c=
			</data>
			<key>IReport</key>
			<data>
			CtawjpvFTfw8UlUAt6fNjA777VK4trRjRkoTcDXJEPk=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			SVZqnWKlzyp42e/MHuKVzRNLZdDas9Bd5FLVvs7PLG0=
			</data>
		</dict>
		<key>CNN 14</key>
		<dict>
			<key>Article</key>
			<data>
			4f6h14zbQRZPTX3GZDGEXI/SLLn8t96WB2gxHsjHXVA=
			</data>
			<key>IReport</key>
			<data>
			CtawjpvFTfw8UlUAt6fNjA777VK4trRjRkoTcDXJEPk=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			SVZqnWKlzyp42e/MHuKVzRNLZdDas9Bd5FLVvs7PLG0=
			</data>
		</dict>
		<key>CNN 15</key>
		<dict>
			<key>Article</key>
			<data>
			30apP7QQxYji3fcM3n4ftLp6U6YZeLPAnNLBKMUXJR8=
			</data>
			<key>IReport</key>
			<data>
			CtawjpvFTfw8UlUAt6fNjA777VK4trRjRkoTcDXJEPk=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			SVZqnWKlzyp42e/MHuKVzRNLZdDas9Bd5FLVvs7PLG0=
			</data>
		</dict>
		<key>CNN 16</key>
		<dict>
			<key>Article</key>
			<data>
			YMPJ5fjdj+BavQ1s8NS9PeN0h1JQ34xxM8TcDNaoePo=
			</data>
			<key>IReport</key>
			<data>
			CtawjpvFTfw8UlUAt6fNjA777VK4trRjRkoTcDXJEPk=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			SVZqnWKlzyp42e/MHuKVzRNLZdDas9Bd5FLVvs7PLG0=
			</data>
		</dict>
		<key>CNN 17</key>
		<dict>
			<key>Article</key>
			<data>
			2+gOLOgHBlI/D/Hayc2Kkphl3maylIRf9jDMnknyCf8=
			</data>
			<key>IReport</key>
			<data>
			CtawjpvFTfw8UlUAt6fNjA777VK4trRjRkoTcDXJEPk=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			SVZqnWKlzyp42e/MHuKVzRNLZdDas9Bd5FLVvs7PLG0=
			</data>
		</dict>
		<key>CNN 18</key>
		<dict>
			<key>Article</key>
			<data>
			OXizDdqJOPdJX223nPP2aQZrxl04czOPmvWQE4CnEGI=
			</data>
			<key>IReport</key>
			<data>
			CtawjpvFTfw8UlUAt6fNjA777VK4trRjRkoTcDXJEPk=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			SVZqnWKlzyp42e/MHuKVzRNLZdDas9Bd5FLVvs7PLG0=
			</data>
		</dict>
		<key>CNN 19</key>
		<dict>
			<key>Article</key>
			<data>
			WBV7cyOZ41JbprwvXme1ZOR+HcXAEwdtQ518yqNUtWI=
			</data>
			<key>IReport</key>
			<data>
			CtawjpvFTfw8UlUAt6fNjA777VK4trRjRkoTcDXJEPk=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			SVZqnWKlzyp42e/MHuKVzRNLZdDas9Bd5FLVvs7PLG0=
			</data>
		</dict>
		<key>CNN 2</key>
		<dict>
			<key>Article</key>
			<data>
			6Of7S0CvWqnt++RMxT6TmDyxRmKTGKjLToRRrCD2rOc=
			</data>
			<key>Video</key>
			<data>
			vGaf5MMC6mzi2Q8prTlSBsiTiKjVY8qj3gxQF68uhpg=
			</data>
		</dict>
		<key>CNN 20</key>
		<dict>
			<key>Article</key>
			<data>
			WBV7cyOZ41JbprwvXme1ZOR+HcXAEwdtQ518yqNUtWI=
			</data>
			<key>IReport</key>
			<data>
			CtawjpvFTfw8UlUAt6fNjA777VK4trRjRkoTcDXJEPk=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			SVZqnWKlzyp42e/MHuKVzRNLZdDas9Bd5FLVvs7PLG0=
			</data>
		</dict>
		<key>CNN 3</key>
		<dict>
			<key>Article</key>
			<data>
			6Of7S0CvWqnt++RMxT6TmDyxRmKTGKjLToRRrCD2rOc=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Video</key>
			<data>
			vGaf5MMC6mzi2Q8prTlSBsiTiKjVY8qj3gxQF68uhpg=
			</data>
		</dict>
		<key>CNN 4</key>
		<dict>
			<key>Article</key>
			<data>
			6Of7S0CvWqnt++RMxT6TmDyxRmKTGKjLToRRrCD2rOc=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			vGaf5MMC6mzi2Q8prTlSBsiTiKjVY8qj3gxQF68uhpg=
			</data>
		</dict>
		<key>CNN 5</key>
		<dict>
			<key>Article</key>
			<data>
			6Of7S0CvWqnt++RMxT6TmDyxRmKTGKjLToRRrCD2rOc=
			</data>
			<key>IReport</key>
			<data>
			/GnABVHfZJC3iM321t3Ox+tTXyKc53WcrTUu1y1DhOc=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			vGaf5MMC6mzi2Q8prTlSBsiTiKjVY8qj3gxQF68uhpg=
			</data>
		</dict>
		<key>CNN 6</key>
		<dict>
			<key>Article</key>
			<data>
			6Of7S0CvWqnt++RMxT6TmDyxRmKTGKjLToRRrCD2rOc=
			</data>
			<key>IReport</key>
			<data>
			423/gYly5yh5+1N83GNsg4wyr257MibgcySL/wgjA00=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			vGaf5MMC6mzi2Q8prTlSBsiTiKjVY8qj3gxQF68uhpg=
			</data>
		</dict>
		<key>CNN 7</key>
		<dict>
			<key>Article</key>
			<data>
			6Of7S0CvWqnt++RMxT6TmDyxRmKTGKjLToRRrCD2rOc=
			</data>
			<key>IReport</key>
			<data>
			0IFMoxsukXaQMkgQrHiuBtupb6NPpZiP149Q9mZesTE=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			vGaf5MMC6mzi2Q8prTlSBsiTiKjVY8qj3gxQF68uhpg=
			</data>
		</dict>
		<key>CNN 8</key>
		<dict>
			<key>Article</key>
			<data>
			Sa5eh7w5ScMoYOW7RT+s8irIabVeAc92vXPJ5n0h+nk=
			</data>
			<key>IReport</key>
			<data>
			0IFMoxsukXaQMkgQrHiuBtupb6NPpZiP149Q9mZesTE=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			qCv4Rc+sOFg9PQkUG5jE7qEN5oRNKWLsVBrAvwfnVIQ=
			</data>
		</dict>
		<key>CNN 9</key>
		<dict>
			<key>Article</key>
			<data>
			mmo5dQ+BAAQKd2zchWQaHVNwpB35KlA0sv5tCsT+aHs=
			</data>
			<key>IReport</key>
			<data>
			0IFMoxsukXaQMkgQrHiuBtupb6NPpZiP149Q9mZesTE=
			</data>
			<key>LocalNews</key>
			<data>
			Z9NiFOC8VcL/GP5JDG1n0rMnHUxH9Ca7YcXzSB/gW8o=
			</data>
			<key>Location</key>
			<data>
			JmgiaFhhB1PWtzuZWBaPlPEJnozssoiQTTAIZVJyazQ=
			</data>
			<key>Video</key>
			<data>
			qCv4Rc+sOFg9PQkUG5jE7qEN5oRNKWLsVBrAvwfnVIQ=
			</data>
		</dict>
	</dict>
</dict>
</plist>
