<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistId</key>
	<integer>331786752</integer>
	<key>artistName</key>
	<string>CNN Interactive Group, Inc.</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>8837591</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>1.8</string>
	<key>bundleVersion</key>
	<string>4053</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143466-13,16</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>2013timh@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1650129443</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>-3798284151588883810.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"5e61049ea24b476029fa6737fe2593e8:1353036078"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>7156196437834180786..app</string>
		<key>purchaseDate</key>
		<string>2012-12-27T04:27:28Z</string>
	</dict>
	<key>copyright</key>
	<string>2012 CNN Interactive Group, Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>뉴스</string>
	<key>genreId</key>
	<integer>6009</integer>
	<key>itemId</key>
	<integer>331786748</integer>
	<key>itemName</key>
	<string>CNN App for iPhone</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>CNN Interactive Group, Inc.</string>
	<key>playlistName</key>
	<string>CNN App for iPhone</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>경미/약간의 성적인 내용 또는 노출 , 경미/약간의 술, 담배 또는 약물 사용 또는 언급 , 경미/약간의 적나라한 폭력 and 경미/약간의 성적/선정적 테마</string>
		<key>label</key>
		<string>12+</string>
		<key>rank</key>
		<integer>300</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2010-12-14T06:20:13Z</string>
	<key>s</key>
	<integer>143466</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1581.phobos.apple.com/us/r1000/076/Purple/v4/40/06/38/400638fb-d090-62d7-e328-28a84f25fca7/Icon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>1</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.cnn.iphone</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>11600250</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>1975021</integer>
		<integer>2555321</integer>
		<integer>2660947</integer>
		<integer>2898206</integer>
		<integer>2915491</integer>
		<integer>3221765</integer>
		<integer>3466852</integer>
		<integer>3891392</integer>
		<integer>3974885</integer>
		<integer>4061463</integer>
		<integer>4383366</integer>
		<integer>5564611</integer>
		<integer>7974255</integer>
		<integer>9190441</integer>
		<integer>10121089</integer>
		<integer>10865240</integer>
		<integer>11085638</integer>
		<integer>11600250</integer>
	</array>
	<key>vendorId</key>
	<integer>283088</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
