<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistId</key>
	<integer>370138103</integer>
	<key>artistName</key>
	<string>CJ CGV Co.ltd</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>8426104</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>3.0.2</string>
	<key>bundleVersion</key>
	<string>3.0.2</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143466-13,16</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>2013timh@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1650129443</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>-2285282739603421423.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"b59fdda6a1904ff3b44b6b1508c6c1b2:1353365923"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>7873201732736303374..app</string>
		<key>purchaseDate</key>
		<string>2012-12-27T04:32:56Z</string>
	</dict>
	<key>copyright</key>
	<string>CJ CGV CO,LTD</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>엔터테인먼트</string>
	<key>genreId</key>
	<integer>6016</integer>
	<key>itemId</key>
	<integer>370441190</integer>
	<key>itemName</key>
	<string>CGV 영화예매</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>CJ CGV Co.ltd</string>
	<key>playlistName</key>
	<string>CGV 영화예매</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2010-05-07T17:14:38Z</string>
	<key>s</key>
	<integer>143466</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1204.phobos.apple.com/us/r1000/071/Purple/v4/90/5b/85/905b85bb-c95f-1f5f-7129-7861e7d4e860/icon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>1</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>kr.co.cgv.iphone.movie.v1</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>11712431</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>2598852</integer>
		<integer>2623797</integer>
		<integer>2772432</integer>
		<integer>2959842</integer>
		<integer>3027515</integer>
		<integer>3198687</integer>
		<integer>3235337</integer>
		<integer>3327897</integer>
		<integer>3369216</integer>
		<integer>3443828</integer>
		<integer>3561526</integer>
		<integer>3621135</integer>
		<integer>3691577</integer>
		<integer>3760372</integer>
		<integer>3812334</integer>
		<integer>4071043</integer>
		<integer>4186811</integer>
		<integer>4582561</integer>
		<integer>5518169</integer>
		<integer>6853839</integer>
		<integer>7234276</integer>
		<integer>7853854</integer>
		<integer>8283245</integer>
		<integer>8948061</integer>
		<integer>9983531</integer>
		<integer>10450233</integer>
		<integer>11712431</integer>
	</array>
	<key>vendorId</key>
	<integer>374213</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
