<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReserveNo</key>
	<string></string>
	<key>appType</key>
	<string>100</string>
	<key>asianaMileageCardNumber</key>
	<string></string>
	<key>asianaMileagePayAmount</key>
	<string></string>
	<key>asianaMileageVerifyNumber</key>
	<string></string>
	<key>bcDiscountCardNumber</key>
	<string></string>
	<key>bcDiscountPayAmount</key>
	<string></string>
	<key>bcMagicCardNumber</key>
	<string></string>
	<key>bcMagicCardSlashedAmount</key>
	<string></string>
	<key>boardVIPCardNumber</key>
	<string></string>
	<key>boardVIPPayAmount</key>
	<string></string>
	<key>boardVIPPayQuantity</key>
	<string></string>
	<key>boardVIPVerifyQuantity</key>
	<string></string>
	<key>citiCardNumber</key>
	<string></string>
	<key>citiCardPayAmount</key>
	<string></string>
	<key>cjEnterStaffCardNumber</key>
	<string></string>
	<key>cjEnterStaffPayAmount</key>
	<string></string>
	<key>cjEnterStaffPayQuantity</key>
	<string></string>
	<key>cjGiftCardAmount</key>
	<string></string>
	<key>cjGiftCardCoupon</key>
	<string></string>
	<key>cjGiftCardQuantity</key>
	<string></string>
	<key>cjIntegratedPointCardNumber</key>
	<string></string>
	<key>cjIntegratedPointPayAmount</key>
	<string></string>
	<key>cjIntegratedcardnum</key>
	<string></string>
	<key>cjIntegratedpayAmount</key>
	<string></string>
	<key>cjMovieCoupon</key>
	<string></string>
	<key>cjMovieTicketAmount</key>
	<string></string>
	<key>cjMovietype</key>
	<string></string>
	<key>cjoneDiscountAmount</key>
	<string></string>
	<key>cjoneDiscountCardComCode</key>
	<string></string>
	<key>cjoneDiscountCardNumber</key>
	<string></string>
	<key>cjoneDiscountDoublePoint</key>
	<string></string>
	<key>cjoneDiscountExpireDate</key>
	<string></string>
	<key>cjoneDiscountInstallmentPeriod</key>
	<string></string>
	<key>cjoneDiscountPassword</key>
	<string></string>
	<key>cjoneDiscountPayAmount</key>
	<string></string>
	<key>cjoneDiscountPayQuantity</key>
	<string></string>
	<key>cjoneDiscountResidentNumber</key>
	<string></string>
	<key>creaditCardPayQuantity</key>
	<string></string>
	<key>creditCardComCode</key>
	<string></string>
	<key>creditCardExpireDate</key>
	<string></string>
	<key>creditCardInstallmentPeriod</key>
	<string></string>
	<key>creditCardNumber</key>
	<string></string>
	<key>creditCardPassword</key>
	<string></string>
	<key>creditCardPayAmount</key>
	<string></string>
	<key>creditCardResidentNumber</key>
	<string></string>
	<key>e1PointCardNumber</key>
	<string></string>
	<key>e1PointPassword</key>
	<string></string>
	<key>e1PointPayAmount</key>
	<string></string>
	<key>email</key>
	<string></string>
	<key>gifticonCouponAmount</key>
	<string></string>
	<key>gifticonCouponNumber</key>
	<string></string>
	<key>gifticonCouponQuantity</key>
	<string></string>
	<key>gifticonItemCode</key>
	<string></string>
	<key>giftishowCouponAmount</key>
	<string></string>
	<key>giftishowCouponNumber</key>
	<string></string>
	<key>giftishowCouponQuantity</key>
	<string></string>
	<key>giftishowCoupontype</key>
	<string></string>
	<key>goldClassStaffDiscountAmount</key>
	<string></string>
	<key>goldClassStaffPayAmount</key>
	<string></string>
	<key>goldClassStaffTicketAmount</key>
	<string></string>
	<key>gsPointCardNumber</key>
	<string></string>
	<key>gsPointPayAmount</key>
	<string></string>
	<key>homePhoneNum</key>
	<string></string>
	<key>id</key>
	<string></string>
	<key>ifCJIntegratedPointSave</key>
	<string></string>
	<key>keDiscountAmount</key>
	<string></string>
	<key>keDiscountCardNumber</key>
	<string></string>
	<key>keSPointPayAmount</key>
	<string></string>
	<key>ktShowAccomPayAmount</key>
	<string></string>
	<key>ktShowNCN</key>
	<string></string>
	<key>ktShowSelfPayAmount</key>
	<string></string>
	<key>ktSingleAccomPayAmount</key>
	<string></string>
	<key>ktSingleNumber</key>
	<string></string>
	<key>ktSingleSelfPayAmount</key>
	<string></string>
	<key>ktSingleTicketTimeCode</key>
	<string></string>
	<key>lgtMobileCouponAmount</key>
	<string></string>
	<key>lgtMobileCouponNumber</key>
	<string></string>
	<key>lgtMobileNumber</key>
	<string></string>
	<key>lgtMobilePayQuantity</key>
	<string></string>
	<key>lgtMobileResidentNumber</key>
	<string></string>
	<key>lgtMobileType</key>
	<string></string>
	<key>lguFeeApplyAmount</key>
	<string></string>
	<key>lguFeeCouponNo</key>
	<string></string>
	<key>lguFeeFirstResidentNumber</key>
	<string></string>
	<key>lguFeeMobileNo</key>
	<string></string>
	<key>lguPlusVipCardNumber</key>
	<string></string>
	<key>lguPlusVipPayAmount</key>
	<string></string>
	<key>lguPlusVipPayQuantity</key>
	<string></string>
	<key>lguPlusVipResidentNumber</key>
	<string></string>
	<key>lguPlusVipTicketAmount</key>
	<string></string>
	<key>memberID</key>
	<string></string>
	<key>memberNM</key>
	<string></string>
	<key>memberResidentNM</key>
	<string></string>
	<key>mileagePayAmount</key>
	<string></string>
	<key>mileagePayQuantity</key>
	<string></string>
	<key>mileagePointAmount</key>
	<string></string>
	<key>mileageType</key>
	<string></string>
	<key>mobileID</key>
	<string></string>
	<key>mobileNum</key>
	<string></string>
	<key>mobileNumber</key>
	<string></string>
	<key>mobilePayAmount</key>
	<string></string>
	<key>mobilePayComCode</key>
	<string></string>
	<key>mobileResidentNumber</key>
	<string></string>
	<key>mobileTransactionNumber</key>
	<string></string>
	<key>mobileVerifyNumber</key>
	<string></string>
	<key>movieCd</key>
	<string></string>
	<key>movieMoneyAmount</key>
	<string></string>
	<key>movieMoneyCoupon</key>
	<string></string>
	<key>movieMoneyQuantity</key>
	<string></string>
	<key>movieMoneyReceiptAmount</key>
	<string></string>
	<key>movieMoneyReceiptApproveNumber</key>
	<string></string>
	<key>movieMoneyReceiptType</key>
	<string></string>
	<key>movieMoneyVer2_Cert</key>
	<string></string>
	<key>movieMoneyVer2_CertTotal</key>
	<string></string>
	<key>movieMoneyVer2_Cnt</key>
	<string></string>
	<key>movieMoneyVer2_Coupon</key>
	<string></string>
	<key>movieMoneyVer2_Total</key>
	<string></string>
	<key>movieMoneyVerifyNumber</key>
	<string></string>
	<key>movieNm</key>
	<string></string>
	<key>moviecollageTicketAmount</key>
	<string></string>
	<key>moviecollageTicketNumber</key>
	<string></string>
	<key>moviecollageTicketQunatity</key>
	<string></string>
	<key>moviecollageTicketType</key>
	<string></string>
	<key>okCashBackCardForSave</key>
	<string></string>
	<key>okCashbackCardNumber</key>
	<string></string>
	<key>okCashbackPassword</key>
	<string></string>
	<key>okCashbackSlashedAmount</key>
	<string></string>
	<key>playNum</key>
	<string></string>
	<key>playYmd</key>
	<string></string>
	<key>playrate</key>
	<string></string>
	<key>playstartm</key>
	<string></string>
	<key>qookCustomerNumber</key>
	<string></string>
	<key>qookPayAmount</key>
	<string></string>
	<key>qookPayQuantity</key>
	<string></string>
	<key>regsite</key>
	<string>APP_IPHONE</string>
	<key>sOilCardNumber</key>
	<string></string>
	<key>sOilCardNumberPassword</key>
	<string></string>
	<key>sOilCardQuantity</key>
	<string></string>
	<key>sOilCardUsedAmount</key>
	<string></string>
	<key>samsungUPointCardNumber</key>
	<string></string>
	<key>samsungUPointPassword</key>
	<string></string>
	<key>samsungUPointPayAmount</key>
	<string></string>
	<key>samsungUPointSaveCardNumber</key>
	<string></string>
	<key>screenCd</key>
	<string></string>
	<key>shinsegaeCardNumber</key>
	<string></string>
	<key>shinsegaeCardPayAmount</key>
	<string></string>
	<key>shinsegaeCardResidentNumber</key>
	<string></string>
	<key>ssn</key>
	<string></string>
	<key>staffCardNumber</key>
	<string></string>
	<key>staffCardPayAmount</key>
	<string></string>
	<key>staffCardPayQuantity</key>
	<string></string>
	<key>staffCardVerifyQuantity</key>
	<string></string>
	<key>teleComuProviderCode</key>
	<string></string>
	<key>theaterCd</key>
	<string></string>
	<key>theaterNm</key>
	<string></string>
	<key>ticketMethodCode</key>
	<string></string>
	<key>ticketQuantity</key>
	<string></string>
	<key>totalCJGiftCardAmount</key>
	<string></string>
	<key>totalCJmovieCouponQuantity</key>
	<string></string>
	<key>totalCJmovieTicketAmount</key>
	<string></string>
	<key>totalGifticonCouponAmount</key>
	<string></string>
	<key>totalGiftishowCouponAmount</key>
	<string></string>
	<key>totalKTShowPayAmount</key>
	<string></string>
	<key>totalKTSinglePayAmount</key>
	<string></string>
	<key>totalLGTMobilePayAmount</key>
	<string></string>
	<key>totalMovieMoneyAmount</key>
	<string></string>
	<key>totalPayAmount</key>
	<string></string>
	<key>totalSOilCardUsedAmount</key>
	<string></string>
	<key>totalShinsegaeCardPayAmount</key>
	<string></string>
	<key>totalShinsegaeCardQuantity</key>
	<string></string>
	<key>totalcreaditCardPayAmount</key>
	<string></string>
	<key>vipCouponBookCertNo</key>
	<string></string>
	<key>vipCouponBookCoupon</key>
	<string></string>
	<key>vipCouponBookPayAmount</key>
	<string></string>
	<key>vipCouponBookPayQuantity</key>
	<string></string>
	<key>vipCouponBookTotalAmount</key>
	<string></string>
</dict>
</plist>
