<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>artistId</key>
	<integer>446748620</integer>
	<key>artistName</key>
	<string>PurpleCat</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>3578542</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>1.0</string>
	<key>bundleVersion</key>
	<string>1.0</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143466-13,16</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>2013timh@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1650129443</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>-1711031829220370797.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"09872132542ae0a905bb486496a9f5f9:1330801909"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>3550222436673368336..app</string>
		<key>purchaseDate</key>
		<string>2012-12-27T04:39:38Z</string>
	</dict>
	<key>copyright</key>
	<string>purplecat</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>라이프 스타일</string>
	<key>genreId</key>
	<integer>6012</integer>
	<key>itemId</key>
	<integer>504481506</integer>
	<key>itemName</key>
	<string>그림판</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>PurpleCat</string>
	<key>playlistName</key>
	<string>그림판</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-03-04T15:48:10Z</string>
	<key>s</key>
	<integer>143466</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a146.phobos.apple.com/us/r1000/077/Purple/43/d5/a4/mzi.ahixytuo.png</string>
	<key>softwareIconNeedsShine</key>
	<true/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>net.purplecat.MyPainting</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>6644400</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>6644400</integer>
	</array>
	<key>vendorId</key>
	<integer>614947</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
