<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>artistId</key>
	<integer>454427099</integer>
	<key>artistName</key>
	<string>youngmin Park</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>4515625</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>1.0</string>
	<key>bundleVersion</key>
	<string>1.0</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143466-13,16</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>2013timh@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1650129443</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>-6466074840432574483.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"51b2ad9aef651d7bc92d2cfa231b62e5:1355534660"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>-2431577706144285938..app</string>
		<key>purchaseDate</key>
		<string>2012-12-27T04:31:05Z</string>
	</dict>
	<key>copyright</key>
	<string>2012 Youngmin Park</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>생산성</string>
	<key>genreId</key>
	<integer>6007</integer>
	<key>itemId</key>
	<integer>576703836</integer>
	<key>itemName</key>
	<string>HarooNotes</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>youngmin Park</string>
	<key>playlistName</key>
	<string>HarooNotes</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2012-12-15T13:42:14Z</string>
	<key>s</key>
	<integer>143466</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a577.phobos.apple.com/us/r1000/062/Purple/v4/1a/14/04/1a1404d6-8b1a-1c1e-8c6e-88fadd3293b8/icon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>4</integer>
		<integer>2</integer>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.HarooNotes</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>11893189</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>11893189</integer>
	</array>
	<key>vendorId</key>
	<integer>329246</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
