<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>article_tag</key>
		<string>mobile_file_support</string>
		<key>shortTitle</key>
		<string>볼 수 있는 파일</string>
		<key>title</key>
		<string>어떤 유형의 파일을 볼 수 있나요?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_share</string>
		<key>shortTitle</key>
		<string>파일 공유</string>
		<key>title</key>
		<string>파일은 어떤 방식으로 공유하나요?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_favorites</string>
		<key>shortTitle</key>
		<string>오프라인 파일</string>
		<key>title</key>
		<string>오프라인에서는 파일을 어떻게 볼 수 있나요?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_video</string>
		<key>shortTitle</key>
		<string>동영상 재생</string>
		<key>title</key>
		<string>동영상은 어떻게 재생하나요?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_upload</string>
		<key>shortTitle</key>
		<string>파일 업로드</string>
		<key>title</key>
		<string>파일은 어떻게 업로드하나요?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_location_permission</string>
		<key>shortTitle</key>
		<string>위치 권한</string>
		<key>title</key>
		<string>위치 데이터는 왜 필요한가요?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_passcode</string>
		<key>shortTitle</key>
		<string>암호</string>
		<key>title</key>
		<string>암호는 어떻게 설정하나요?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_store</string>
		<key>shortTitle</key>
		<string>암호</string>
		<key>title</key>
		<string>mobile_delete</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_delete</string>
		<key>shortTitle</key>
		<string>암호</string>
		<key>title</key>
		<string>파일은 어떻게 삭제하나요?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_camera_upload</string>
		<key>shortTitle</key>
		<string>Camera Upload</string>
		<key>title</key>
		<string>How do I use Camera Upload?</string>
	</dict>
	<dict>
		<key>article_tag</key>
		<string>mobile_syncing</string>
		<key>shortTitle</key>
		<string>Mobile Syncing</string>
		<key>title</key>
		<string>How does syncing work?</string>
	</dict>
</array>
</plist>
