<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistId</key>
	<integer>327630333</integer>
	<key>artistName</key>
	<string>Dropbox</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>13596373</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleShortVersionString</key>
	<string>2.0</string>
	<key>bundleVersion</key>
	<string>2.0</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143466-13,16</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>2013timh@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1650129443</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>4199108877629840253.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"c24faa775df0bfdb83f5836b683b5c4f:1355370355"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>6720735401736933833..app</string>
		<key>purchaseDate</key>
		<string>2012-12-27T08:56:39Z</string>
	</dict>
	<key>copyright</key>
	<string>2012 Dropbox</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>생산성</string>
	<key>genreId</key>
	<integer>6007</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>327630330</integer>
	<key>itemName</key>
	<string>Dropbox</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Dropbox</string>
	<key>playlistName</key>
	<string>Dropbox</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2009-09-29T20:44:23Z</string>
	<key>s</key>
	<integer>143466</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1493.phobos.apple.com/us/r1000/097/Purple/v4/1e/38/7b/1e387b58-99a8-23f3-52da-4611be3388dc/Icon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>1</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.getdropbox.Dropbox</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>12822235</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>1906604</integer>
		<integer>2036374</integer>
		<integer>2380023</integer>
		<integer>2398992</integer>
		<integer>2592345</integer>
		<integer>2622226</integer>
		<integer>2720871</integer>
		<integer>2767459</integer>
		<integer>2811264</integer>
		<integer>2839601</integer>
		<integer>2998171</integer>
		<integer>3036286</integer>
		<integer>3342490</integer>
		<integer>3644458</integer>
		<integer>3794331</integer>
		<integer>3915641</integer>
		<integer>4402621</integer>
		<integer>4503967</integer>
		<integer>4756243</integer>
		<integer>7436640</integer>
		<integer>8110040</integer>
		<integer>8706024</integer>
		<integer>8737536</integer>
		<integer>9071123</integer>
		<integer>10050000</integer>
		<integer>10557834</integer>
		<integer>11201748</integer>
		<integer>12144425</integer>
		<integer>12822235</integer>
	</array>
	<key>vendorId</key>
	<integer>15686</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
