<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>CachedFiles 2.0</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>CachedFiles</key>
		<dict>
			<key>CachedFile</key>
			<data>
			7zgQATuo05FBJZ1vm3AxUaGVGOf0PDqv41Ac9cLuT7I=
			</data>
			<key>QueuedUpload</key>
			<data>
			VjSCzGnPMZm+BeSXF4soxjAbaOZXoAPdG0traSsDJvU=
			</data>
		</dict>
		<key>CachedFiles 1.4.2</key>
		<dict>
			<key>CachedFile</key>
			<data>
			ambM+n+ZjlPdFFXF3HJr2XWN82JOyGHSG8sNuzAC56E=
			</data>
		</dict>
		<key>CachedFiles 1.5</key>
		<dict>
			<key>CachedFile</key>
			<data>
			5++WX/P8YcPk1+r+a+6wOaXYR+UGWa49aNCJmA2YxWM=
			</data>
		</dict>
		<key>CachedFiles 1.5.7</key>
		<dict>
			<key>CachedFile</key>
			<data>
			jz+0UmbkcS12ogVhLkwzP0Jrk31xv2QdsS59KWm2ekE=
			</data>
		</dict>
		<key>CachedFiles 2.0</key>
		<dict>
			<key>CachedFile</key>
			<data>
			JFYvRKQ2+2GnpufEiiJdjDkdDVSHkNc7sjF6AUlk9yo=
			</data>
		</dict>
	</dict>
</dict>
</plist>
